# 리스트(list) 자료형
- 숫자나 문자들의 모음을 하나의 자료형으로 표현하기 사용
- format : listName = [e1, e2 ...]

# 리스트 자료형 선언

In [2]:
var01 = []        # 빈 리스트 만들었음
var02 = [1,2,3]   # 숫자 있는 리스트
var03 = ['I', "have", 'a', 'dream']
var04 = [1, 2, 'dream', 'True']
var05 = [1, 2, ['Dream', "True"]]

# 리스트의 indexing과 Slicing

In [6]:
print(var01)
print(var02)
print(var03)
print(var04)
print(var05)

print(var05[2])
print(var05[2][0])

[]
[1, 2, 3]
['I', 'have', 'a', 'dream']
[1, 2, 'dream', 'True']
[1, 2, ['Dream', 'True']]
['Dream', 'True']
Dream

In [7]:
# 리스트의 계산
var02[0] + var02[1]

3

In [10]:
# 3중 리스트에서 indexing
var = [1, 2, ['a', 'b', ['Dream', 'True']]]

print(var[-1][-1][0])

Dream

In [11]:
# 빈칸 없애기 -> 스플릿 -> for in 문으로 데이터 찾기

In [12]:
print(var[2:])

[['a', 'b', ['Dream', 'True']]]

---

# 리스트 연산

In [17]:
# 리스트의 숫자 합치기
var01 = [1,2,3]
var02 = [4,5,6]
var01 + var02

[1, 2, 3, 4, 5, 6]

In [19]:
# 리스트의 덧셈
for i in range(0, 3):
    print(var01[i] + var02[i])

5
7
9

In [27]:
imagename = 'aspdnfpqn image.jpg oaifnoqef'

imagename.find('.jpg')
str1 = imagename.split('.jpg')
str2 = str1[0].split()
print(str1[0])
print(str2[-1])

aspdnfpqn image
image

In [20]:
# 리스트의 숫자 반복
var01 *3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [21]:
# 리스트의 곱셈
# var01 의 data를 10배 계산하여 출력하기

for i in var01:
    print(i*10)

10
20
30

In [24]:
# 리스트 타입 변환
var = [1,2,3]
print(str(var[2]) + "번!")

3번!

In [65]:
temp = "123"
temp1 = int(temp)
temp1?

---

# 리스트의 수정과 삭제

In [45]:
var = [1,2,3]
var[2] = 4
var

[1, 2, 4]

In [48]:
var[1:2] = ['a', 'b', 'c']
var

[1, 'a', 'b', 'c', 4]

In [47]:
var[1:3] = []
var
# Update의 개념

[1, 'c', 4]

In [51]:
var?

In [50]:
del var[1:3]
var
# 삭제의 개념

[1, 'c', 4]

In [52]:
# 리스트에 요소 추가
var = [1,2,3]
var.append(4)
var?

In [53]:
var.append([5,6])

In [54]:
var?

In [59]:
# 리스트의 정렬
var = [1,4,3,2]
print(var)

# 오름차순 (바로 적용됩니다.)
var.sort()
print(var)

# 내림차순 ( 최대치를 찾을때도 사용 가능하다!, 역시 바로적용 )
var.reverse()
print(var[0])

# 최대값 & 최소값
print(max(var))
print(min(var))

[1, 4, 3, 2]
[1, 2, 3, 4]
4
4
1

In [64]:
# append 는 추가 / 삽입은 원하는 곳에 넣기
# 리스트 문자 정렬 : 한글
var = ['대', '한', '민', '국']

# 오름 & 내림
var.sort()
print(var)

var.reverse()
print(var)

['국', '대', '민', '한']
['한', '민', '대', '국']

In [67]:
# 리스트의 위치 정보
var = [4,5,6]
var.index(5)  # 5라는 애가 몇번지에 있어? , 정리가 잘 됐는지 확인할 때도 사용한다.

1

In [68]:
# 리스트의 요소 삽입
var = [1,2,3]
var.insert(0, 4)  # append 는 뒤에 붙고, insert는 내가 원하는 곳에 넣을 수 있다!
var

[4, 1, 2, 3]

In [69]:
# 리스트에 요소 제거
# del 은 내가 그 위치가 어딘지 알때 쓸 수 있다.

var = [1,2,3,4,5,6]

# 데이터(요소)가 4인 것을 지우기
var.remove(4)
var

[1, 2, 3, 5, 6]

In [70]:
# 리스트 요소 뽑아내기
var = [1,2,3]
print(var.pop())

# 맨 뒤에 있는 데이터 요소를 지우는 것이 pop 이다!

print(var)

3
[1, 2]

In [71]:
# for 문을 사용한 pop

var = [1,2,3]

for i in range(0,3):
    print(var.pop())
    print(var)

3
[1, 2]
2
[1]
1
[]

In [73]:
# 리스트의 확장
var = [1,2,3,4]
var1 =[5,6]
var + var1

# 이것을 적용시켜주려면! 2가지 방법이 있다.
var = var + var1
var.extend(var1)

# 이것을 쓰는 때가... A.html, B.html, C.html 이렇게 일단 다 가져왔는데 분석하려면 이것들을 다 합쳐야한다! 
# 그럴때 이 extend 로 합쳐둔 다음에 작업을 하면 정확하게 알 수 있다.