## range 함수
### range(시작숫자, 끝숫자, 증가값)

In [1]:
var = range(1, 11)
var

range(1, 11)

In [2]:
# range 의 범위를 list로 출력

# 파이썬에서 리스트로 감싸는거 무지 많음!!
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
list(range(0, 11, 2))
# 2씩 증가한거라, 짝수만 가져왔다!

[0, 2, 4, 6, 8, 10]

In [4]:
list(range(10, 0, -2))

[10, 8, 6, 4, 2]

In [5]:
list(range(0, 10, -2))
# 오류나면 그냥 빈값으로밖에 안나옴...

[]

In [6]:
var[9]

10

In [7]:
type(var)

range

In [8]:
# range 타입니다

---

# for 문에 range 함수 사용하기

In [9]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [10]:
for i in range(5):
    print(i)

0
1
2
3
4

In [11]:
# 하나만 찍으면 끝 숫자가 나온다!!

In [14]:
# 1부터 10까지의 수중 홀수만 출력하기
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [19]:
# 구구단 9단 출력

for i in range(1, 10):

    print(9, 'X', i, '=', "%2d" %(9*i))

9 X 1 =  9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [20]:
print('aaa', end = ' ')
print('bbb')
# print 뒤에 '\n'이 기본적으로 들어있다!

aaa bbb

In [23]:
for front in range(2, 10):
    for back in range(1, 10):
        print("%2d" %(front*back), end = ' ')
    print()

 2  4  6  8 10 12 14 16 18
 3  6  9 12 15 18 21 24 27
 4  8 12 16 20 24 28 32 36
 5 10 15 20 25 30 35 40 45
 6 12 18 24 30 36 42 48 54
 7 14 21 28 35 42 49 56 63
 8 16 24 32 40 48 56 64 72
 9 18 27 36 45 54 63 72 81

---

## for문에 list 사용하기

In [24]:
test_list = ['one', 'two', 'three']

In [25]:
for i in test_list:
    print(i)
# 지금처럼 하나쓰고 내려가고 두번째꺼 쓰고 내려가고 한다!

one
two
three

In [26]:
# 평균 구하기
scores = [78, 85, 95, 65]

# 이렇게 배열은 복수, for에는 단수를 많이 쓴다.
total = 0
for score in scores:
    total += score
    
print(total/ len(scores))

80.75

## for문에 Tuple 사용하기

In [27]:
# tuple 은 한번 지정해주면 수정삭제가 안된다.

var = [(1,2), (3,4), (5,6)]

# 튜플 사용할때는 , 로 구분해서 2개 써주면 된다.
for first, last in var:
    print(first, ":", last)

1 : 2
3 : 4
5 : 6

In [28]:
sum1 = 0
for first, last in var:
    sum1 += first + last
    
print(sum1)

21

In [29]:
# 총 5명의 학생이 시험을 보았는데, 시험점수가 60점을 넘으면 합격이다. 합불 결과 보여주기

In [34]:
scores = [90, 25, 67, 45, 80]

for number in range(len(scores)):
    if scores[number] >= 60:
        print(number+1, "의 학생은 합격입니다.")
    else:
        print(number+1, "의 학생은 불합격입니다.")
        
# 배열의 index를 활용한 방법

1 의 학생은 합격입니다.
2 의 학생은 불합격입니다.
3 의 학생은 합격입니다.
4 의 학생은 불합격입니다.
5 의 학생은 합격입니다.

In [42]:
scores = [90, 25, 67, 45, 80]

number = 1

for score in scores:
    if score >= 60:
        print("%d의 학생은 점수가" %number, "%2d이므로" %score,"합격입니다.")
    else:
        print("%d의 학생은 점수가 %2d이어서 불합격입니다." %(number, score))
    number += 1

1의 학생은 점수가 90이므로 합격입니다.
2의 학생은 점수가 25이어서 불합격입니다.
3의 학생은 점수가 67이므로 합격입니다.
4의 학생은 점수가 45이어서 불합격입니다.
5의 학생은 점수가 80이므로 합격입니다.

### 학생들 점수의 평균을 구하여 평균점수 기준으로 합격 불합격 보여주기

In [43]:
import numpy as np

In [48]:
scores = [90, 25, 67, 45, 80]

number = 1

print("학급의 평균 점수는 %0.2f입니다." %np.mean(scores))

for score in scores:
    if score >= np.mean(scores):
        print("%d의 학생은 점수가 %2d이어서 합격입니다." %(number, score))
    else:
        print("%d의 학생은 점수가 %2d이어서 불합격입니다." %(number, score))
    number += 1

학급의 평균 점수는 61.40입니다.
1의 학생은 점수가 90이어서 합격입니다.
2의 학생은 점수가 25이어서 불합격입니다.
3의 학생은 점수가 67이어서 합격입니다.
4의 학생은 점수가 45이어서 불합격입니다.
5의 학생은 점수가 80이어서 합격입니다.

In [49]:
var01 = [1,2,3,4]
var02 = []

for i in var01:
    var02.append(i*5)
    
print(var02)

[5, 10, 15, 20]

---

# Python 의 listed for문

In [51]:
var01 = [1,2,3,4]
var02 = []

var02 = [i*5 for i in var01]
# for 문이 안에 들어가고 append가 먼저 왔다!

In [ ]:
# 위의 소스에서 짝수인 경우에만 5를 곱하는 리스트 만들기

In [61]:
var01 = [1,2,3,4]
var02 = []

var02 = [i*5 for i in var01 if i%2==0]
# [ 넣을것(결과값) , for 문, if 문]
var02

[10, 20]

In [77]:
var = []
var = [front*back for front in range(2, 10) for back in range(1, 10)]
print(var)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [80]:
# 60점 이상의 학생점수만 List로 만들어 평균 구하기
scores = [90, 25, 67, 45, 80]

passList = [score for score in scores if score >=60]

import numpy as np

print("합격한 학생들의 평균 점수는 %.2f입니다."%np.mean(passList))

합격한 학생들의 평균 점수는 79.00입니다.