# 파일 읽고 쓰기
- 파일 객체 : open(파일이름, 파일 열기 모드)
- 파일 열기모드 : r(읽기모드), w(쓰기모드), a(추가모드)

In [12]:
# 파일을 쓰기모드로 열어 출력값 저장하기

f = open("./Data/new.txt", "w")
for i in range(1, 11):
    data = "%2d번째 줄입니다.\n"%i
    f.write(data)
f.close()  # 이거 꼭 해줘야함!

In [5]:
# 파일 읽기모드로 내용 출력하기 - 1번 방법
f = open("./Data/new.txt", "r")
while True:
    line = f.readline()
    if not line:
        break
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [10]:
# 파일 읽기모드로 내용 출력하기 - 2번 방법
f = open("./Data/new.txt", "r")
lines = f.readlines()
for line in lines:
    print(line)
f.close()


# list 타입으로 들어온다!

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [11]:
# 파일 읽기모드로 내용 출력하기 - 3번 방법    ######### 츄천

f = open("./Data/new.txt", "r")
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [13]:
# 파일에 새로운 내용 추가하기     (요즘에는 잘 안쓰기는 하는데.. 쓸때도 있음)
f = open("./Data/new.txt", "a")
for i in range(11, 21):
    data = "%2d번째 줄 입니다.\n"%i
    f.write(data)
f.close()

In [14]:

f = open("./Data/new.txt", "r")
data = f.read()
print(data)
f.close()

 1번째 줄입니다.
 2번째 줄입니다.
 3번째 줄입니다.
 4번째 줄입니다.
 5번째 줄입니다.
 6번째 줄입니다.
 7번째 줄입니다.
 8번째 줄입니다.
 9번째 줄입니다.
10번째 줄입니다.
11번째 줄 입니다.
12번째 줄 입니다.
13번째 줄 입니다.
14번째 줄 입니다.
15번째 줄 입니다.
16번째 줄 입니다.
17번째 줄 입니다.
18번째 줄 입니다.
19번째 줄 입니다.
20번째 줄 입니다.

---

# with문
: 파일의 열고 닫음을 자동으로 처리하기 위해 사용되며, with 문을 벗어나면 자동으로 close()

In [18]:
# 파일 만들기
# 범위 정해주기!
with open("./Data/new2.txt", "w") as f:
    for i in range(1, 11):
        data = "%2d번째 줄 입니다.\n"%i
        f.write(data)
        
# "w"이건 무조건 새로 만드는 것이기때문에 기존 것은 사라짐! 추가는 "a"

In [19]:
# 파일 읽어오기
with open("./Data/new2.txt", "r") as f:
    data = f.read()
    print(data)

 1번째 줄 입니다.
 2번째 줄 입니다.
 3번째 줄 입니다.
 4번째 줄 입니다.
 5번째 줄 입니다.
 6번째 줄 입니다.
 7번째 줄 입니다.
 8번째 줄 입니다.
 9번째 줄 입니다.
10번째 줄 입니다.

---

# Pandas 로 불러오기

In [1]:
import pandas as pd

In [3]:
txtSample = pd.read_table("./Data/new2.txt", header=None)
txtSample

             0
0   1번째 줄 입니다.
1   2번째 줄 입니다.
2   3번째 줄 입니다.
3   4번째 줄 입니다.
4   5번째 줄 입니다.
5   6번째 줄 입니다.
6   7번째 줄 입니다.
7   8번째 줄 입니다.
8   9번째 줄 입니다.
9  10번째 줄 입니다.

In [4]:
# 아니 줄이 너무 길다! 앞에만 보고싶다면? (앞에 5개)
txtSample.head()

             0
0   1번째 줄 입니다.
1   2번째 줄 입니다.
2   3번째 줄 입니다.
3   4번째 줄 입니다.
4   5번째 줄 입니다.

In [5]:
# 아니 줄이 너무 길다! 앞에만 보고싶다면? (뒤에 5개)
txtSample.tail()

             0
5   6번째 줄 입니다.
6   7번째 줄 입니다.
7   8번째 줄 입니다.
8   9번째 줄 입니다.
9  10번째 줄 입니다.

---

# 외장함수

In [7]:
# time.sleep : 일정시간 간격으로 Loop를 실행
# 너무 빨리하면 오해받기도 해서 좀 천천히 할때!

import time

for i in range(10):
    print(i)
    time.sleep(1)

0
1
2
3
4
5
6
7
8
9

In [9]:
import calendar
print(calendar.calendar(2021))

                                  2021

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [10]:
calendar.prmonth(2021, 7)

     July 2021
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [11]:
calendar.weekday(2021,7,1)

3

In [12]:
# 0월요일, 3 목요일 아마 이런거

In [13]:
calendar.monthrange(2021, 7)

(3, 31)

In [ ]:
# 목요일부터 시작하고 31일까지 있다.

In [16]:
# web browser
import webbrowser
webbrowser.open("https://www.naver.com")

True