In [1]:
#mainContent > div > div.box_boxoffice > ol > li:nth-child(1) > div > div.thumb_cont > strong > a

In [10]:
# Setting
from bs4 import BeautifulSoup
import urllib.request as request
import pandas as pd

In [13]:
url = "https://movie.daum.net/ranking/boxoffice/weekly"
res = request.urlopen(url)

soup = BeautifulSoup(res, "html.parser")

movieLists = soup.select('div.box_boxoffice > ol > li > div > div.thumb_cont > strong > a')
count = 0

titleLists = [] # 영화제목
countLists = [] # 예매율 Lists

for movielist in movieLists:
    count +=1
    print('%2d번'%count, movielist.string.strip())
    countLists.append(count)
    titleLists.append(movielist.string.strip())

 1번 블랙 위도우
 2번 발신제한
 3번 크루엘라
 4번 콰이어트 플레이스 2
 5번 랑종
 6번 루카
 7번 킬러의 보디가드 2
 8번 미드나이트
 9번 BIFAN2021 판타스틱 단편 걸작선 1
10번 괴기맨숀
11번 컨저링3: 악마가 시켰다
12번 인 더 하이츠
13번 빛나는 순간
14번 체르노빌 1986
15번 이번엔 잘 되겠지

### Test

In [14]:
# List 확인하기
print(countLists)
print(titleLists)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
['블랙 위도우', '발신제한', '크루엘라', '콰이어트 플레이스 2', '랑종', '루카', '킬러의 보디가드 2', '미드나이트', 'BIFAN2021 판타스틱 단편 걸작선 1', '괴기맨숀', '컨저링3: 악마가 시켰다', '인 더 하이츠', '빛나는 순간', '체르노빌 1986', '이번엔 잘 되겠지']

In [ ]:
# countLists 만으로 DataFrame 생성

In [17]:
df = pd.DataFrame(data = countLists, columns=['Index'])
df['Titles'] = pd.Series(titleLists)
df

    Index                   Titles
0       1                   블랙 위도우
1       2                     발신제한
2       3                     크루엘라
3       4              콰이어트 플레이스 2
4       5                       랑종
5       6                       루카
6       7               킬러의 보디가드 2
7       8                    미드나이트
8       9  BIFAN2021 판타스틱 단편 걸작선 1
9      10                     괴기맨숀
10     11            컨저링3: 악마가 시켰다
11     12                  인 더 하이츠
12     13                   빛나는 순간
13     14                체르노빌 1986
14     15                이번엔 잘 되겠지

In [18]:
# csv로 저장
df.to_csv("./Data/DaumList.csv", sep=",", encoding='utf-8', index=False)